//
// VARIABLES for SASS/COMPASS
// =============================================================================

@import 'config.colors';
@import 'config.breakpoints';


// -----------------------------------------------------------------------------
// Debugging
// -----------------------------------------------------------------------------

$debug: false;

// -----------------------------------------------------------------------------
// Browser support
// -----------------------------------------------------------------------------

$legacy-support-for-ie:   false;
$legacy-support-for-ie6:  false;
$legacy-support-for-ie7:  false;
$legacy-support-for-ie8:  false;

// -----------------------------------------------------------------------------
// Mathematical values
// -----------------------------------------------------------------------------

$golden-ratio: 1.618;

// -----------------------------------------------------------------------------
// General
// -----------------------------------------------------------------------------

$base-border: 1px solid $base-border-color;
// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$base-rhythm:       rhythm(0.75);

$base-font-size:    16px;
$base-line-height:  22px;

$sans-font-family:        "Open Sans", sans-serif;
$serif-font-family:       Georgia, "Times New Roman", Times, serif;
$mono-font-family:        Monaco, Menlo, Consolas, "Courier New", monospace;
$brand-font-family:       $sans-font-family;

// The font sizes for h1-h6.
$h1-font-size: 2.77  * $base-font-size; // 36px/14px
$h2-font-size: 1.714 * $base-font-size; // 24px/14px
$h3-font-size: 1.143 * $base-font-size; // 16px/14px
$h4-font-size: 1.077 * $base-font-size; // 14px/14px
$h5-font-size: 0.85  * $base-font-size; // 11px/14px
$h6-font-size: 0.67  * $base-font-size;

$headings-font-family:    inherit;
$headings-font-weight:    300;
$bold-font-weight:        600;
$headings-trailer:        $golden-ratio / 2;

// extra font sizes
$huge-font-size:          3    * $base-font-size;
$mega-font-size:          4.5  * $base-font-size;
$giga-font-size:          6    * $base-font-size;

$small-font-size:         0.7  * $base-font-size;
$micro-font-size:         0.5  * $base-font-size;

// -----------------------------------------------------------------------------
// Measurements
// -----------------------------------------------------------------------------

$base-border-radius:  2px;
$base-padding-vertical: 0.5em;
$base-padding-horizontal: 1.5em;

// -----------------------------------------------------------------------------
// components
// -----------------------------------------------------------------------------

$breadcrumb-background: $jet;
$breadcrumb-border-color: $davygray;
$breadcrumb-height: $base-line-height * 1;

$shortcut-height: $base-line-height * 1;



// -----------------------------------------------------------------------------
// Drupal elements
// -----------------------------------------------------------------------------

// Tabs
$tab-primary-bgcolor-active:   $white;
$tab-primary-color-active:     $black;
$tab-primary-bgcolor-hover:    $white;
$tab-primary-color-hover:      $black;
$tab-primary-bgcolor-default:  nth($grays, 2);
$tab-primary-color-default:    nth($grays, 8);
$tab-primary-border-radius:    $base-border-radius;

$tab-secondary-bgcolor-active:    nth($grays, 1);
$tab-secondary-color-active:      $base-accent-color;
$tab-secondary-bgcolor-hover:     nth($grays, 1);
$tab-secondary-color-hover:       $drupal-blue;
$tab-secondary-bgcolor-default:   nth($grays, 3);
$tab-secondary-color-default:     nth($grays, 7);
$tab-secondary-border-radius:     $base-border-radius;

// Messages
$message-border-style:        1px solid;
$message-border-radius:       0;
$message-status-bgcolor:      $success-color-inverted;
$message-status-bordercolor:  $success-color;
$message-status-color:        darken($success-color, 20%);
$message-warning-bgcolor:     $warning-color-inverted;
$message-warning-bordercolor: $warning-color;
$message-warning-color:       darken($warning-color, 20%);
$message-error-bgcolor:       $error-color-inverted;
$message-error-bordercolor:   $error-color;
$message-error-color:         darken($error-color, 20%);

// pager pagination
$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$pagination-hover-color:               $link-color-hover !default;
$pagination-hover-bg:                  $silver !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $base-accent-color !default;
$pagination-active-border:             $base-accent-color !default;

$pagination-disabled-color:            $silver !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;

@import 'variables';
