/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Typography */
/* Shadows */
/* Animations */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*------------------------------------*    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Typography
 * -----Colors
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 */
/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
/* ==========  COLORS  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  IMAGES  ========== */
/* ==========  Color & Themes  ========== */
/* ==========  Typography  ========== */
/* ==========  Components  ========== */
/* ==========  Standard Buttons  ========== */
/* ==========  Icon Toggles  ========== */
/* ==========  Radio Buttons  ========== */
/* ==========  Ripple effect  ========== */
/* ==========  Layout  ========== */
/* ==========  Content Tabs  ========== */
/* ==========  Checkboxes  ========== */
/* ==========  Switches  ========== */
/* ==========  Spinner  ========== */
/* ==========  Text fields  ========== */
/* ==========  Card  ========== */
/* ==========  Sliders ========== */
/* ========== Progress ========== */
/* ==========  List ========== */
/* ==========  Item ========== */
/* ==========  Dropdown menu ========== */
/* ==========  Tooltips  ========== */
/* ==========  Footer  ========== */
/* TEXTFIELD */
/* SWITCH */
/* SPINNER */
/* RADIO */
/* MENU */
/* LIST */
/* LAYOUT */
/* ICON TOGGLE */
/* FOOTER */
/*mega-footer*/
/*mini-footer*/
/* CHECKBOX */
/* CARD */
/* Card dimensions */
/* Cover image */
/* BUTTON */
/**
 *
 * Dimensions
 *
 */
/* ANIMATION */
/* PROGRESS */
/* BADGE */
/* SHADOWS */
/* GRID */
/* DATA TABLE */
/* TOOLTIP */
/**
 * @file
 * The .admin.theme.css file is intended to contain presentation declarations
 * including images, borders, colors, and fonts.
 */
.views-admin .links {
  list-style: none outside none;
  margin: 0; }

.views-admin a:hover {
  text-decoration: none; }

.box-padding {
  padding-left: 12px;
  padding-right: 12px; }

.box-margin {
  margin: 12px 12px 0 12px; }

.views-admin .icon {
  height: 16px;
  width: 16px; }

.views-admin .icon,
.views-admin .icon-text {
  background-attachment: scroll;
  background-image: url(../../images/icons/view-sprite.png);
  background-position: left top;
  /* LTR */
  background-repeat: no-repeat; }

[dir="rtl"] .views-admin .icon,
[dir="rtl"] .views-admin .icon-text {
  background-position: right top; }

.views-admin a.icon {
  background: linear-gradient(-90deg, #fff 0, #e8e8e8 100%) no-repeat, repeat-y;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3333) inset; }

.views-admin a.icon:hover {
  border-color: #d0d0d0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3333) inset; }

.views-admin a.icon:active {
  border-color: #c0c0c0; }

.views-admin span.icon {
  float: left;
  /* LTR */
  position: relative; }

[dir="rtl"] .views-admin span.icon {
  float: right; }

.views-admin .icon.compact {
  display: block;
  overflow: hidden;
  direction: ltr;
  text-indent: -9999px; }

/* Targets any element with an icon -> text combo */
.views-admin .icon-text {
  padding-left: 19px;
  /* LTR */ }

[dir="rtl"] .views-admin .icon-text {
  padding-left: 0;
  padding-right: 19px; }

.views-admin .icon.linked {
  background-position: center -153px; }

.views-admin .icon.unlinked {
  background-position: center -195px; }

.views-admin .icon.add {
  background-position: center 3px; }

.views-admin a.icon.add {
  background-position: center 3px, left top;
  /* LTR */ }

[dir="rtl"] .views-admin a.icon.add {
  background-position: center 3px, right top; }

.views-admin .icon.delete {
  background-position: center -52px; }

.views-admin a.icon.delete {
  background-position: center -52px, left top;
  /* LTR */ }

[dir="rtl"] .views-admin a.icon.delete {
  background-position: center -52px, right top; }

.views-admin .icon.rearrange {
  background-position: center -111px; }

.views-admin a.icon.rearrange {
  background-position: center -111px, left top;
  /* LTR */ }

[dir="rtl"] .views-admin a.icon.rearrange {
  background-position: center -111px, right top; }

details.box-padding {
  border: none; }

.views-admin details details {
  margin-bottom: 0; }

/*.form-item {
  margin-top: 9px;
  padding-bottom: 0;
  padding-top: 0;
}
.form-type-checkbox {
  margin-top: 6px;
}
.form-checkbox,
.form-radio {
  vertical-align: baseline;
}*/
.container-inline {
  padding-top: 15px;
  padding-bottom: 15px; }

.container-inline > * + *,
.container-inline .details-wrapper > * + * {
  padding-left: 4px;
  /* LTR */ }

[dir="rtl"] .container-inline > * + *,
[dir="rtl"] .container-inline .details-wrapper > * + * {
  padding-left: 0;
  padding-right: 4px; }

.views-admin details details.container-inline {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 0; }

.views-admin details details.container-inline > .details-wrapper {
  padding-bottom: 0; }

/* Indent form elements so they're directly underneath the label of the checkbox that reveals them */
.views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 16px;
  /* LTR */ }

[dir="rtl"] .views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 0;
  margin-right: 16px; }

/* Hide 'remove' checkboxes. */
.views-remove-checkbox {
  display: none; }

/* sizes the labels of checkboxes and radio button to the height of the text */
.views-admin .form-type-checkbox label,
.views-admin .form-type-radio label {
  line-height: 2; }

.views-admin-dependent .form-item {
  margin-bottom: 6px;
  margin-top: 6px; }

.views-ui-view-title {
  font-weight: bold;
  margin-top: 0; }

.view-changed {
  margin-bottom: 21px; }

.views-admin .unit-title {
  font-size: 15px;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 18px; }

/* These header classes are ambiguous and should be scoped to th elements */
.views-ui-name {
  width: 18%; }

.views-ui-description {
  width: 26%; }

.views-ui-tag {
  width: 8%; }

.views-ui-path {
  width: auto; }

.views-ui-operations {
  width: 24%; }

/**
 * I wish this didn't have to be so specific
 */
.form-item-description-enable + .form-item-description {
  margin-top: 0; }

.form-item-description-enable label {
  font-weight: bold; }

.form-item-page-create,
.form-item-block-create {
  margin-top: 13px; }

.form-item-page-create label,
.form-item-block-create label,
.form-item-rest-export-create label {
  font-weight: bold; }

/* This makes the form elements after the "Display Format" label flow underneath the label */
.form-item-page-style-style-plugin > label,
.form-item-block-style-style-plugin > label {
  display: block; }

.views-attachment .options-set label {
  font-weight: normal; }

/* Styling for the form that allows views filters to be rearranged. */
.group-populated {
  display: none; }

td.group-title {
  font-weight: bold; }

.views-ui-dialog td.group-title {
  margin: 0;
  padding: 0; }

.views-ui-dialog td.group-title span {
  display: block;
  height: 1px;
  overflow: hidden; }

.group-message .form-submit,
.views-remove-group-link,
.views-add-group {
  float: right;
  /* LTR */
  clear: both; }

[dir="rtl"] .group-message .form-submit,
[dir="rtl"] .views-remove-group-link,
[dir="rtl"] .views-add-group {
  float: left; }

.views-operator-label {
  font-style: italic;
  font-weight: bold;
  padding-left: 0.5em;
  /* LTR */
  text-transform: uppercase; }

[dir="rtl"] .views-operator-label {
  padding-left: 0;
  padding-right: 0.5em; }

.grouped-description,
.exposed-description {
  float: left;
  /* LTR */
  padding-top: 3px;
  padding-right: 10px;
  /* LTR */ }

[dir="rtl"] .grouped-description,
[dir="rtl"] .exposed-description {
  float: right;
  padding-left: 10px;
  padding-right: 0; }

.views-displays {
  border: 1px solid #ccc;
  padding-bottom: 36px; }

.views-display-top {
  background-color: #e1e2dc;
  border-bottom: 1px solid #ccc;
  padding: 8px 8px 3px;
  position: relative; }

.views-display-top .tabs {
  margin-right: 18em;
  /* LTR */ }

[dir="rtl"] .views-display-top .tabs {
  margin-left: 18em;
  margin-right: 0; }

.views-display-top .tabs > li {
  margin-right: 6px;
  /* LTR */
  padding-left: 0;
  /* LTR */ }

[dir="rtl"] .views-display-top .tabs > li {
  margin-left: 6px;
  margin-right: 0.3em;
  padding-right: 0; }

.views-display-top .tabs > li:last-child {
  margin-right: 0;
  /* LTR */ }

[dir="rtl"] .views-display-top .tabs > li:last-child {
  margin-left: 0;
  margin-right: 0.3em; }

.form-edit .form-actions {
  margin-top: 0; }

.views-displays .tabs.secondary {
  margin-right: 200px;
  /* LTR */
  border: 0;
  list-style: none; }

[dir="rtl"] .views-displays .tabs.secondary {
  margin-left: 200px;
  margin-right: 0; }

.views-displays .tabs.secondary li,
.views-displays .tabs.secondary li.is-active {
  background: transparent;
  border: 0;
  padding: 0;
  width: auto; }

.views-displays .tabs li.add ul.action-list li {
  margin: 0; }

.views-displays .tabs.secondary li {
  margin: 0 5px 5px 6px;
  /* LTR */ }

[dir="rtl"] .views-displays .tabs.secondary li {
  margin-left: 5px;
  margin-right: 6px; }

.views-displays .tabs.secondary .tabs__tab {
  height: 25px; }

.views-displays .tabs li.tabs__tab:hover {
  border: 0;
  padding-left: 0;
  /* LTR */ }

[dir="rtl"] .views-displays .tabs li.tabs__tab:hover {
  padding-left: 15px;
  padding-right: 0; }

.views-displays .tabs.secondary a {
  display: inline-block;
  line-height: 1.3333; }

/* Display a red border if the display doesn't validate. */
.views-displays .tabs li.is-active a.is-active.error,
.views-displays .tabs .error {
  border: 2px solid #ed541d;
  padding: 1px 6px; }

.views-displays .tabs a:focus {
  outline: none;
  text-decoration: underline; }

.views-displays .tabs.secondary li a {
  background-color: #fff; }

.views-displays .tabs li a:hover,
.views-displays .tabs li.is-active a,
.views-displays .tabs li.is-active a.is-active {
  background-color: #555;
  color: #fff; }

.views-displays .tabs .action-list li {
  background-color: #f1f1f1;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 0 1px;
  padding: 2px 9px; }

.views-displays .tabs .action-list li:first-child {
  border-width: 1px 1px 0; }

.views-displays .action-list li:last-child {
  border-width: 0 1px 1px; }

.views-displays .tabs .action-list li:last-child {
  border-width: 0 1px 1px; }

.views-displays .tabs .action-list input.form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0;
  padding: 0; }

.views-displays .tabs .action-list input.form-submit:hover {
  box-shadow: none; }

.views-displays .tabs .action-list li:hover {
  background-color: #ddd; }

.edit-display-settings {
  margin: 12px 12px 0 12px; }

.edit-display-settings-top.views-ui-display-tab-bucket {
  border: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 0 0 15px 0;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative; }

.views-display-column {
  border: 1px solid #f3f3f3; }

.views-display-column + .views-display-column {
  margin-top: 0; }

.view-preview-form .form-item-view-args {
  margin-top: 5px; }

.view-preview-form .arguments-preview {
  font-size: 1em; }

.view-preview-form .arguments-preview,
.view-preview-form .form-item-view-args {
  margin-left: 10px;
  /* LTR */ }

[dir="rtl"] .view-preview-form .arguments-preview,
[dir="rtl"] .view-preview-form .form-item-view-args {
  margin-left: 0;
  margin-right: 10px; }

.view-preview-form .form-item-view-args label {
  float: left;
  /* LTR */
  font-weight: normal;
  margin-right: 0.75em;
  /* LTR */ }

[dir="rtl"] .view-preview-form .form-item-view-args label {
  float: right;
  margin-left: 0.75em;
  margin-right: 0.2em; }

.form-item-live-preview,
.form-item-view-args,
.preview-submit-wrapper {
  display: inline-block; }

.form-item-live-preview,
.view-preview-form .form-actions {
  vertical-align: top; }

@media screen and (min-width: 45em) {
  /* 720px */
  .view-preview-form .form-type-textfield .description {
    white-space: nowrap; } }

/* These are the individual "buckets," or boxes, inside the display settings area */
.views-ui-display-tab-bucket {
  border-bottom: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 0;
  padding-top: 4px;
  position: relative; }

.views-ui-display-tab-bucket:last-of-type {
  border-bottom: none; }

.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
  border-top: medium none; }

.views-ui-display-tab-bucket__title,
.views-ui-display-tab-bucket > .views-display-setting {
  padding: 2px 6px 4px; }

.views-ui-display-tab-bucket__title {
  font-size: small;
  margin: 0; }

.views-ui-display-tab-bucket.access {
  padding-top: 0; }

.views-ui-display-tab-bucket.page-settings {
  border-bottom: medium none; }

.views-display-setting .views-ajax-link {
  margin-left: 0.2083em;
  margin-right: 0.2083em; }

.views-ui-display-tab-setting > span {
  margin-left: 0.5em;
  /* LTR */ }

[dir="rtl"] .views-ui-display-tab-setting > span {
  margin-left: 0;
  margin-right: 0.5em; }

/** Applies an overridden(italics) font style to overridden buckets.
 * The better way to implement this would be to add the overridden class
 * to the bucket header when the bucket is overridden and style it as a
 * generic icon classed element. For the moment, we'll style the bucket
 * header specifically with the overridden font style.
 */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden .views-ui-display-tab-bucket__title {
  font-style: italic; }

/* This is each row within one of the "boxes." */
.views-ui-display-tab-bucket .views-display-setting {
  color: #666;
  font-size: 12px;
  padding-bottom: 2px; }

.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: #f3f5ee; }

.views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting {
  background-color: transparent; }

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 6px;
  margin-bottom: 6px; }

.views-display-setting .label {
  margin-right: 3px;
  /* LTR */ }

[dir="rtl"] .views-display-setting .label {
  margin-left: 3px;
  margin-right: 0; }

.views-edit-view {
  margin-bottom: 15px; }

/* The contents of the popup dialog on the views edit form. */
.views-filterable-options .form-type-checkbox {
  padding: 5px 8px;
  border-top: none; }

.views-filterable-options {
  border-top: 1px solid #ccc; }

.filterable-option .form-item {
  margin-bottom: 0;
  margin-top: 0; }

.views-filterable-options .filterable-option .title {
  font-weight: bold;
  cursor: pointer; }

.views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0; }

.views-filterable-options-controls .form-item {
  width: 30%;
  margin: 0 0 0 2%;
  /* LTR */ }

[dir="rtl"] .views-filterable-options-controls .form-item {
  margin: 0 2% 0 0; }

.views-filterable-options-controls input,
.views-filterable-options-controls select {
  width: 100%; }

.views-ui-dialog .ui-dialog-content {
  padding: 0; }

.views-ui-dialog .views-filterable-options {
  margin-bottom: 10px; }

.views-ui-dialog .views-add-form-selected.container-inline {
  padding: 0; }

.views-ui-dialog .views-add-form-selected.container-inline > div {
  display: block; }

.views-ui-dialog .form-item-selected {
  margin: 0;
  padding: 6px 16px; }

.views-ui-dialog .views-override {
  background-color: #f3f4ee;
  padding: 8px 13px; }

.views-ui-dialog.views-ui-dialog-scroll .ui-dialog-titlebar {
  border: none; }

.views-ui-dialog .views-offset-top {
  border-bottom: 1px solid #CCC; }

.views-ui-dialog .views-offset-bottom {
  border-top: 1px solid #CCC; }

.views-ui-dialog .views-override > * {
  margin: 0; }

.views-ui-dialog .views-progress-indicator {
  color: #fff;
  font-size: 11px;
  position: absolute;
  right: 10px;
  /* LTR */
  top: 32px; }

[dir="rtl"] .views-ui-dialog .views-progress-indicator {
  left: 10px;
  right: auto; }

.views-ui-dialog .views-progress-indicator:before {
  content: "\003C\00A0"; }

.views-ui-dialog .views-progress-indicator:after {
  content: "\00A0\003E"; }

.views-ui-dialog details .item-list {
  padding-left: 2em;
  /* LTR */ }

[dir="rtl"] .views-ui-dialog details .item-list {
  padding-left: 0;
  padding-right: 2em; }

.views-ui-rearrange-filter-form table {
  border-collapse: collapse; }

.views-ui-rearrange-filter-form tr td[rowspan] {
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 0 1px 1px 1px; }

.views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 1px solid #cdcdcd;
  /* LTR */ }

[dir="rtl"] .views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-left: 1px solid #cdcdcd;
  border-right: 0; }

.views-ui-rearrange-filter-form .even td {
  background-color: #f3f4ed; }

.views-ui-rearrange-filter-form .views-group-title {
  border-top: 1px solid #cdcdcd; }

.views-ui-rearrange-filter-form .group-empty {
  border-bottom: 1px solid #cdcdcd; }

.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  margin-bottom: 6px;
  margin-left: 18px;
  /* LTR */
  margin-top: 6px; }

[dir="rtl"] .form-item-options-expose-required,
[dir="rtl"] .form-item-options-expose-label,
[dir="rtl"] .form-item-options-expose-description {
  margin-left: 0;
  margin-right: 18px; }

.views-preview-wrapper {
  border: 1px solid #ccc; }

.view-preview-form {
  position: relative;
  padding: 1em; }

.view-preview-form__title {
  background-color: #e1e2dc;
  border-bottom: 1px solid #ccc;
  margin-top: -0.75em;
  margin-left: -0.75em;
  margin-right: -0.75em;
  padding: 8px 12px; }

.view-preview-form .form-item-live-preview {
  position: absolute;
  right: 12px;
  top: 3px;
  margin-top: 2px;
  margin-left: 2px;
  /* LTR */ }

[dir="rtl"] .view-preview-form .form-item-live-preview {
  right: auto;
  left: 12px;
  margin-left: 0;
  margin-right: 2px; }

.views-live-preview {
  padding: 12px; }

.views-live-preview .views-query-info {
  overflow: auto; }

.views-live-preview .section-title {
  color: #818181;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 0; }

.views-live-preview .view > * {
  margin-top: 18px; }

.views-live-preview .preview-section {
  border: 1px dashed #dedede;
  margin: 0 -5px;
  padding: 3px 5px; }

.views-live-preview li.views-row + li.views-row {
  margin-top: 18px; }

/* The div.views-row is intentional and excludes li.views-row, for example */
.views-live-preview div.views-row + div.views-row {
  margin-top: 36px; }

.views-query-info table {
  margin: 10px 0; }

.views-query-info table tr {
  background-color: #f9f9f9; }

.views-query-info table th,
.views-query-info table td {
  color: #666; }

.messages {
  margin-bottom: 18px;
  line-height: 1.4555; }

.dropbutton-multiple {
  position: absolute; }

.dropbutton-widget {
  position: relative; }

.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action > * {
  font-size: 12px; }

.js .dropbutton-wrapper .dropbutton .dropbutton-action > .ajax-progress-throbber {
  position: absolute;
  right: -5px;
  /* LTR */
  top: -1px;
  z-index: 2; }

[dir="rtl"].js .dropbutton-wrapper .dropbutton .dropbutton-action > .ajax-progress-throbber {
  left: -5px;
  right: auto; }

.js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:first-child a {
  border-radius: 1.1em 0 0 0;
  /* LTR */ }

[dir="rtl"].js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:first-child a {
  border-radius: 0 1.1em 0 0; }

.js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:last-child a {
  border-radius: 0 0 0 1.1em;
  /* LTR */ }

[dir="rtl"].js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:last-child a {
  border-radius: 0 0 1.1em 0; }

.views-display-top .dropbutton-wrapper {
  position: absolute;
  right: 12px;
  /* LTR */
  top: 7px; }

[dir="rtl"] .views-display-top .dropbutton-wrapper {
  left: 12px;
  right: auto; }

.views-display-top .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto; }

.views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
  right: 5px;
  /* LTR */
  top: 4px; }

[dir="rtl"] .views-ui-display-tab-bucket .dropbutton-wrapper {
  left: 5px;
  right: auto; }

.views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto; }

.views-ui-display-tab-actions .dropbutton-wrapper li a,
.views-ui-display-tab-actions .dropbutton-wrapper input {
  background: none;
  border: medium;
  font-family: inherit;
  font-size: 12px;
  padding-left: 12px;
  /* LTR */
  margin-bottom: 0; }

[dir="rtl"] .views-ui-display-tab-actions .dropbutton-wrapper li a,
[dir="rtl"] .views-ui-display-tab-actions .dropbutton-wrapper input {
  padding-left: 0.5em;
  padding-right: 12px; }

.views-ui-display-tab-actions .dropbutton-wrapper input:hover {
  background: none;
  border: none; }

.views-list-section {
  margin-bottom: 2em; }

.form-textarea-wrapper,
.form-item-options-content {
  width: 100%; }
