/*
// HTML Base Elements
// =============================================================================
*/

/*
// Use border-box for every element on the website
*/
* {
  box-sizing: inherit;

  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  box-sizing: border-box;
  cursor: default;
  padding: 0;
  margin: 0;
  background: $body-background;
}

/*
// Tables
*/
table, tbody {
  border-top: 0;
  width: 100%;
  max-width: 100%;
}

table.borderless {
  border: 0;

  tbody, td {
    border: 0;
  }
}

.cke_editable table.borderless {
  border: 1px $silver dashed;

  td {
    border: 1px $silver dashed;
  }
}
