/*
// =============================================================================
// @file:
// basic elements for media (e.g. img and video)
// =============================================================================
*/

/* @todo: replace with mixin */
img,
video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/*
// Avoid line breaks within paragraphs
*/
p,
h1,h2,h3,h4,h5,h6 {
  img,
  video {
    display: inline-block;
  }
}

/*
// Figure image
//
// Markup:
// <figure><img src="http://placehold.it/250x250" /></figure>
//
// Styleguide 3.1.2
*/

figure {
  > img {
    display: block;
  }
}
