/**
 * Generic elements.
 *//* Remove the webkit outline */
* {
  outline-style: none !important;
}

a {
  color: #0074BD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

legend {
  font-weight: bold;
}

/*h1,h2,h3,h4,h5,h6 {
  //font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-weight: 300;
  margin: 10px 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5,h6 {
  font-size: 14px;
}*/

p {
  margin: 1em 0;
}

dl {
  margin: 0 0 20px;
}

dl dd, dl dl {
  background: url("../../../images/legacy/small-bullet.png") no-repeat scroll 0 6px transparent;
  color: #444444;
  margin-bottom: 10px;
  margin-left: 5px;
  text-indent: 10px;
  line-height: 18px;
}

blockquote {
  margin: 1em 40px;
}

address {
  font-style: italic;
}

u, ins {
  text-decoration: underline;
}

s, strike, del {
  text-decoration: line-through;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

abbr, acronym {
  border-bottom: dotted 1px;
}

ul, .block ul, .item-list ul {
  list-style-type: square;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}

.item-list .pager li {
  padding: 0.5em;
}

.item-list ul li, li.leaf, ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}

ul.menu li {
  margin: 0;
}

ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}

.item-list ul li.collapsed, ul.menu li.collapsed {
  list-style-image: image-url('menu-collapsed.png');
  list-style-type: disc;
}

.item-list ul li.expanded, ul.menu li.expanded {
  list-style-image: image-url('menu-expanded.png');
  list-style-type: circle;
}

code {
  margin: 0.5em 0;
}

code, pre, kbd {
  font-size: 1.231em;
}

pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

strong {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}

#skip-link a, #skip-link a:link, #skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}

#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
  margin-top: 1em;
}

#help p {
  margin: 0 0 10px;
}

#help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

div.vertical-tabs ul li.vertical-tab-button a {
  border-right: 1px solid #CCCCCC;
  background: #F9F9F9;
}

div.vertical-tabs ul li.vertical-tab-button a:hover, div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #efefef;
  outline: 0 none;
  text-decoration: none;
}

div.vertical-tabs ul li.vertical-tab-button .selected a {
  border-right: none;
  background: #fff;
}

div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:hover, div.vertical-tabs ul li.selected a:focus, div.vertical-tabs ul li.selected a:active {
  border-left: 5px solid #0074BD;
  background: none repeat scroll 0 0 #FFFFFF;
  border-right: 0 none;
  margin-left: -1px;
}

div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: none;
}

#content {
  clear: left;
}

#secondary-links ul.links li {
  padding: 0 10px 10px 0; /* LTR */
}

#secondary-links ul.links li a {
  font-size: 0.923em;
  background: #777;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 55px;
  width: 80px;
  overflow: hidden;
}

#secondary-links ul.links li a:hover {
  background: #999;
}

ul.links li, ul.inline li {
  padding-right: 1em; /* LTR */
}

ul.inline li {
  display: inline;
}

#secondary-links ul.links li.active-trail a, #secondary-links ul.links li a.active {
  background: #333;
}

ul.admin-list li {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: image-url('list-item.png') no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

.admin-panel .item-list ul, ul.admin-list {
  margin: 0;
  padding: 0;
}

.admin-panel .item-list ul, ul.admin-list .compact {
  margin: 8px 0;
}

.admin-panel .item-list li, ul.admin-list .compact li {
  border: none;
  background: none;
  margin: 0 0 0.75em;
  line-height: 1;
  padding: 0;
}

ul.admin-list li:last-child {
  border-bottom: none;
}

ul.admin-list li a {
  margin-left: -30px; /* LTR */
  padding: 0 0 4px 30px; /* LTR */
  min-height: 0;
}

ul.admin-list .compact li a {
  margin-left: 0; /* LTR */
  padding: 0;
}

ul.admin-list li div.description a {
  margin-left: 0; /* LTR */
  padding: 0;
  min-height: inherit;
}

div.submitted {
  color: #898989;
}

.progress {
  font-weight: normal;
}



#module-filter-modules {
  min-height: 0 !important;
}

input#edit-module-filter-name {
  background: transparent;
  border: none;
  border-bottom: 3px solid #DDDDDD;
  color: #333333;
  //font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

body.page-admin-modules input#edit-module-filter-name {
  padding: 5px 9px;
  margin-left: -9px;
}

input#edit-module-filter-name:active, input#edit-module-filter-name:focus {
  border-bottom: 3px solid #2196d6;
}

label[for=edit-module-filter-name], label[for=edit-module-filter-name] {
  display: none !important;
}

.module-filter-clear {
  display: block;
  float: right;
  position: relative;
  right: 30px;
  top: 12px;
  top: -47px;
}

body.page-admin-modules .module-filter-clear {
  top: -47px;
}

.module-filter-clear a {
  background: url(../../../images/legacy/x.svg) scroll no-repeat 0 0;
  display: block;
  font-size: 0;
  height: 29px;
  margin-left: 0;
  width: 29px;
}

.module-filter-clear a:hover {
  background: url(../../../images/legacy/x-hover.svg) scroll no-repeat 0 0;
}

html.js .toggle-enable {
  border-radius: 0 !important;
  box-shadow: none !important;
  background-image: -moz-linear-gradient(left center, #555 50%, #0074BD 50%, #0074BD 100%);
}

html.js .toggle-enable.enabled {
  background-image: -moz-linear-gradient(left center, #0074BD 50%, #008000 50%, #008000 100%);
}

html.js .toggle-enable.enabled.disabled {
  background-image: -moz-linear-gradient(left center, #0074BD 50%, #EF6114 50%, #EF6114 100%);
}

html.js .toggle-enable.enabled.disabled div:after {
  content: "\26A1";
  font-size: 18px;
}

html.js .toggle-enable.disabled div {
  background: #DDDDDD;
}

html.js .toggle-enable div {
  border-radius: 0 !important;
  background: #fff;
}

html.js .toggle-enable div:before {
  content: "\2717";
}

html.js .toggle-enable div:after {
  content: "\2713";
}

html.js .toggle-enable div:after, html.js .toggle-enable div:before {
  font-size: 13px;
}

input.form-text:focus, input.form-file:focus, textarea.form-textarea:focus, select.form-select:focus {
  color: #000;
  border-color: #0074BD;
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -13px;
}

ul.action-links {
  margin: 1em 0;
  list-style-type: none;
  overflow: hidden;
}

ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}

ul.action-links a {
  padding-left: 15px; /* LTR */
  //font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 300;
  background: transparent image-url('add.png') no-repeat 0 center;
  line-height: 30px;
}

/* Exceptions */
#diff-inline-form select, div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
div.admin .right, div.admin .left {
  width: 49%;
  margin: 0;
}

div.admin-panel, div.admin-panel .body {
  padding: 0;
  clear: left;
}

div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

div.admin-panel h3 {
  //font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 23px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 9px;
  text-transform: none;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.theme-selector {
  padding-bottom: 40px;
}

.theme-selector .theme-description {
  overflow: hidden;
}

.theme-selector h3 {
  font-weight: normal;
}

.theme-default h3 {
  font-weight: bold;
}

.system-themes-list-enabled .theme-selector h3 {
  margin-top: 0;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}

div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}

div.admin-options label, div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}

div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  width: 200px;
}

body.in-maintenance #content {
  float: right; /* LTR */
  width: 550px;
  padding-right: 20px; /* LTR */
  clear: none;
}

body.in-maintenance #page {
  overflow: auto;
  width: 770px;
  margin: 0 auto;
  padding-top: 2em;
}

body.in-maintenance .page-header h1 {
  width: 770px;
  margin: 0 auto;
  float: none;
}

body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}

body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}

body.in-maintenance .form-submit {
  display: block;
}

body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}

ol.task-list li.active {
  background: transparent image-url('task-item.png') no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}

ol.task-list li.done {
  background: transparent image-url('task-check.png') no-repeat 0 50%;
  color: green;
}

/* Overlay theming */
.overlay .page-header {
  background-color: #fff;
  padding-top: 15px;
}

.overlay .page-header h1.page-title, .overlay #left, .overlay #footer {
  display: none;
}

.overlay #page {
  margin: 0;
  padding: 0 20px;
}

.overlay .page-header div.breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}

#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}

#overlay-tabs li {
  margin: 0 -3px;
}

.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
  text-align: right;
  float: left;
  width: 100%;
}

.overlay #content {
  padding: 0;
}

#overlay-titlebar {
  padding: 0;
}

h1#overlay-title {
  //font: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 5px;
  line-height: 44px;
}

#overlay-titlebar .add-or-remove-shortcuts {
  padding-top: 1.5em;
}

#overlay-close, #overlay-close:hover {
  background-color: #fff;
}

.overlay div.breadcrumb a:hover {
  color: #0074bd;
}

#overlay-container, .overlay-modal-background, .overlay-element, #overlay {
  padding-top: 29px;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover {
  background-color: #ddd;
  border-radius: 0 0 0 0;
  color: #000000;
  display: inline-block;
  //font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 2px;
  outline: 0 none;
  padding: 4px 15px;
  text-decoration: none;
  text-transform: none;
}

#overlay-tabs li a:hover {
  background: none repeat scroll 0 0 #0074BD;
  color: #FFFFFF;
}

#overlay-tabs li.active a, #overlay-tabs li.active a.active, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited, #overlay-tabs li.active a:hover {
  background-color: #FFFFFF;
  margin: 0;
  padding-bottom: 4px;
}

#overlay-tabs {
  bottom: -2px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
  right: 0px;
}

/* Dashboard */
#dashboard.dashboard-region div.block h2 {
  background: #E0E0D8;
}

#dashboard div.block h2 {
  margin: 0;
  font-size: 1em;
  padding: 3px 10px;
}

#dashboard div.block div.content {
  padding: 10px 5px 5px 5px; /* LTR */
}

#dashboard div.block div.content ul.menu {
  margin-left: 20px; /* LTR */
}

#dashboard.dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */
#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}

#field-display-overview tr.field-formatter-settings-changed {
  background: #FFFFBB;
}

#field-display-overview tr.drag {
  background: #FFEE77;
}

#field-display-overview tr.field-formatter-settings-editing {
  background: #D5E9F2;
}

#field-display-overview.field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}

#field-display-overview.field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

form.field-multiple-table th.field-label {
  background: transparent;
}

form .field-multiple-table th.field-label {
  padding-left: 18px;
}

form.field-multiple-table tr.even {
  background: transparent;
}

/* Recent content block */
#dashboard div#block-node-recent div.content {
  padding: 0;
}

#block-node-recent table, #block-node-recent tr {
  border: none;
}

#block-node-recent.more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* User login block */
#user-login-form.openid-links {
  margin-left: 0; /* LTR */
}

#user-login-form.openid-links .user-link {
  margin-left: 1.5em; /* LTR */
}

/* Messages */

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}

#overlay-disable-message a, #overlay-disable-message a:visited {
  color: #000;
}

#overlay-disable-message a:focus, #overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}

.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}

.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#ctools-export-ui-list-form.form-submit {
  float: left;
  margin-top: 36px;
}

a.imce-filefield-opener {
  margin: 5px 0;
}

div.autocomplete-deluxe-multiple {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 0;
  width: auto;
  min-width: 500px;
}

.autocomplete-deluxe-item {
  background: none repeat scroll 0 0 #555555;
  border: 0 none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  color: #FFFFFF;
  height: 12px;
  margin: 0;
  padding: 7px 20px 7px 10px;
}

.autocomplete-deluxe-item-delete {
  background: url("../../../images/icons/ui-icons-ffffff-256x240.png") no-repeat scroll -100px -130px transparent;
  display: block;
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 2px;
  top: 7px;
  width: 12px;
}

ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
}

.ui-autocomplete .ui-menu-item a {
  display: block;
  line-height: 1.5;
  padding: 5px 10px;
  text-decoration: none;
}

body.adminimal-theme .ctools-dropbutton-processed {
  border-radius: 0;
  background: #FFFFFF;
}

body #page-manager-list-pages-form.form-item {
  margin-bottom: 20px;
}

#edit-pages-apply, #edit-pages-reset {
  float: left;
  margin-top: 40px;
}

body.adminimal-theme ul.secondary li a, body.adminimal-theme ul.secondary li a:hover, body.adminimal-theme ul.secondary li.active a, body.adminimal-theme ul.secondary li.active a.active {
  border-radius: 0;
  padding: 2px 10px;
  border: none;
}

body.adminimal-theme .views-ui-display-tab-bucket h3 {
  font-size: 20px;
  margin: 0;
  padding: 6px 6px 10px;
}

div.fieldset-description {
  padding-bottom: 0.5em;
}

/* Configuration menu blocks */
div.admin-panel {
  background: none repeat scroll 0 0 #F8F8F8;
  border: none;
  margin: 0 0 20px;
  padding: 10px;
}

/* Table hover style */
.adminimal-backend tr.even:hover, .adminimal-backend tr.odd:hover {
  background: #FFFFBF;
}

/* Tokens */
.adminimal-backend .token-tree {
  margin-left: 0;
}

.adminimal-backend table.token-tree span.expander {
  margin-left: -5px;
}

/* Link Icons */
ul.links.inline li.edit {
  text-transform: capitalize;
}

ul.links.inline li.delete {
  text-transform: capitalize;
}

body.adminimal-theme .views-display-column > .ctools-collapsible-handle {
  border-color: #F3F3F3;
  border-style: solid;
  border-width: 1px 1px 0;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  padding: 6px 5px 6px 5px;
}

body.adminimal-theme .views-display-column > .ctools-toggle {
  margin-left: 10px;
  margin-right: 6px;
  margin-top: 14px;
}

body.adminimal-theme .views-display-column > .ctools-toggle.ctools-toggle-collapsed {
  margin-left: 12px;
  margin-right: 6px;
  margin-top: 11px;
}

body.adminimal-theme .views-ui-display-tab-bucket .ctools-button-processed {
  border-radius: 0;
}

body.adminimal-theme .views-admin .icon {
  height: 16px;
  margin-left: -6px;
  width: 16px;
}

#simplenews-admin-filter .spacer {
  float: left;
  margin-top: 10px;
  margin-left: 0;
}

body.adminimal-theme .token-tree th {
  padding-bottom: 10px;
  padding-top: 10px;
}

.overlay ul.secondary {
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin: 0;
  overflow: visible;
}

.views-ui-display-tab-bucket .ctools-button-processed {
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ctools-dropbutton-processed {
  border-radius: 4px;
}

#views-ui-preview-form .arguments-preview, #views-ui-preview-form .form-type-textfield {
  margin-left: 14px;
  margin-top: 0px;
}

#preview-submit-wrapper {
  margin-top: 8px;
}

#views-ui-preview-form .form-type-checkbox {
  margin-left: 2px;
  margin-top: 8px;
}

#page-manager-list-pages td.page-manager-page-operations .ctools-dropbutton {
  right: auto;
}



/* Views and Ctools */
.overlay ul.secondary {
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin: 0;
  overflow: visible;
}

.views-ui-display-tab-bucket .ctools-button-processed {
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ctools-dropbutton-processed {
  border-radius: 4px;
}

#views-ui-preview-form.arguments-preview, #views-ui-preview-form.form-type-textfield {
  margin-left: 14px;
  margin-top: 0px;
}

#preview-submit-wrapper {
  margin-top: 8px;
}

#views-ui-preview-form.form-type-checkbox {
  margin-left: 2px;
  margin-top: 8px;
}

#page-manager-list-pages td.page-manager-page-operations .ctools-dropbutton {
  right: auto;
}

.views-exposed-widget {
  float: left;
  padding-right: 20px;
}

.views-exposed-widget .views-submit-button {
  clear: both;
}

.views-exposed-form label {
  padding-bottom: 10px;
}

.ui-widget table th {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#ui-datepicker-div {
  border: 5px solid #333;
  background: white;
  padding: 0;
  margin: 0;
}

.ui-widget table thead th {
  background: #555;
  color: white;
}

/* Omega Fieldset fix */
body.page-admin-appearance fieldset {
  border: solid 1px #ddd !important;
  border-top: 3px solid #0074BD !important;
  padding: 12px !important;
  margin: 18px 0 !important;
}

body.page-admin-appearance fieldset legend {
  background: white !important;
  padding: 0 3px !important;
  margin: 0 !important;
  margin-left: -3px !important;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif !important;
  font-size: 24px !important;
  font-weight: 300 !important;
}

body.page-admin-appearance fieldset fieldset {
  background-color: white !important;
}

.views-attachment .options-set label {
  font-weight: 300;
}

#views-ui-preview-form .form-type-textfield label {
  font-weight: 300;
}

.views-ui-dialog .ui-dialog-titlebar-close {
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  right: 5px;
  top: 5px;
}

.views-ui-dialog .scroll {
  padding: 10px 20px;
}

.views-ui-dialog .form-buttons {
  background-color: #F3F4EE;
  padding: 15px;
}

.ui-widget-header {
  border: none;
}

.views-ui-dialog {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.views-filterable-options .form-type-checkbox input.form-checkbox {
  position: relative;
  top: 1px;
}

.views-filterable-options .form-type-checkbox {
  padding: 10px;
}

.views-filterable-options .form-type-checkbox:hover {
  background: #ffffbf;
}

input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

table.sticky-header {
  z-index: 999;
}

.ctools-content ul.actions {
  margin: 0;
  padding: 0;
}

.ctools-button-processed {
  border-color: #CCCCCC;
  background: none repeat scroll 0 0 #FFFFFF;
}

.ctools-button-processed:hover {
  border-color: #999999;
}

.ctools-no-js .ctools-content ul, .ctools-button-processed .ctools-content ul {
  margin: 0.25em;
}

div.form-item-view-args input#preview-args {
  margin-top: 0.6em;
}

.ctools-dropbutton ul.right.actions li input {
  color: #0074BD;
}

.views-ui-dialog .form-item-options-tokenize {
  margin-top: 10px;
}

#dblog-filter-form .form-actions {
  clear: both;
  float: left;
  padding: 0;
}

.container-inline .form-actions, .container-inline.form-actions {
  clear: none;
  display: inline-block;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
}

div.admin-panel .description {
  margin: 0 0 3px;
  padding: 0 0 0.5em;
}

#permissions td.module {
  font-weight: bold;
  font-family: sans-serif;
}

body.page-node-add ul.admin-list li {
  background-position: 0 50%;
  padding-top: 0;
  margin-bottom: 20px;
}

body.page-node-add ul.admin-list li div.description {
  margin: 0;
}

#dashboard .canvas-content a.button:hover {
  color: #fff;
}

div.contextual-links-wrapper ul.contextual-links, a.contextual-links-trigger, div.contextual-links-active a.contextual-links-trigger {
  border-radius: 0;
}

body.page-admin-dashboard .container-inline .form-actions, body.page-admin-dashboard .container-inline.form-actions {
  margin-top: 0;
}

/* Margin fix for some pages in overlay mode */
body.page-admin-help.overlay #page,
body.page-admin-reports-updates-update #page,
body.page-admin-appearance.overlay #page {
  margin: 0;
  padding: 0 20px 20px;
}

.system-themes-list-disabled .theme-selector {
  float: left;
  opacity: 0.5;
  padding: 20px 20px 20px 0;
  width: 300px;
}

.system-themes-list-disabled .theme-selector:hover {
  opacity: 1;
}

#system-themes-page {
  padding-top: 20px;
}

#system-themes-page h2 {
  color: #555555;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.system-themes-list-enabled .theme-info h3 {
  font-size: 24px;
  font-weight: 400;
}

.system-themes-list-enabled .theme-default .theme-info h3 {
  font-size: 24px;
  font-weight: 400;
}

.system-themes-list-disabled {
  border-top: 5px solid #CDCDCD;
  padding-top: 20px;
}

#block-system-main {
  clear: both;
}

#palette .lock {
  float: right;
}



.progress .bar {
  background: none repeat scroll 0 0 #CCCCCC;
  border: none;
  border-radius: 0;
  margin: 0 0.2em;
}

.progress .filled, .progress .bar .filled {
  background: none repeat scroll 0 0 #0074BD !important;
}

.update tr.error, .update tr.error.even:hover, .update tr.error.odd:hover {
  background: none repeat scroll 0 0 #B73939 !important;
  color: #fff;
}

.update tr.error .version-recommended {
  background: none repeat scroll 0 0 #B73939;
}

.update .security-error {
  color: #FFFFFF;
  font-size: 23px;
  font-weight: bold;
}

.update table.version-security .version-title {
  color: #FFFFFF;
}

table.update tr.error td, table.update tr.error th {
  color: #fff;
}

.text-format-wrapper .form-item {
  padding-right: 0;
}

.form-textarea-wrapper textarea {
  resize: vertical;
}

div.krumo-root {
  border-color: #ddd;
}

div.krumo-wrapper ul {
  margin: 0;
}

div.krumo-wrapper li {
  list-style: none outside none;
}

#module-filter-tabs.bottom-fixed {
  position: relative;
}

body.adminimal-backend div.dev-query {
  background: none repeat scroll 0 0 #000000;
  bottom: 0;
  color: #82eb12;
  display: block;
  font-family: courier;
  overflow: auto;
  padding: 5px;
}

/* Ckeditor Styling */

body.adminimal-backend .cke_reset_all, body.adminimal-backend .cke_reset_all * {
  border-radius: 0;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  text-shadow: none;
}

body.adminimal-backend .ckeditor_links {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  display: block;
  padding: 10px;
  width: auto;
}

body.adminimal-backend .ckeditor_links:hover {
  background: #eee;
  text-decoration: none;
}

body.adminimal-backend .cke_chrome {
  box-shadow: none;
}

body.adminimal-backend .cke_top {
  background: #eee;
}

body.adminimal-backend .cke_toolgroup {
  background: #fff;
  border: 1px solid #ccc;
}

body.adminimal-backend .cke_combo_button {
  background: #fff;
  border: 1px solid #ccc;
}

body.adminimal-backend .cke_button_on {
  background: #fff;
  box-shadow: none;
  border-bottom: 3px solid #0074BD;
}

body.adminimal-backend .cke_bottom {
  background: #eee;
}

body.adminimal-backend .cke_combo_off a.cke_combo_button:active, body.adminimal-backend .cke_combo_on a.cke_combo_button {
  border: 1px solid #0074BD;
  border-bottom-width: 3px;
  background: #fff;
  box-shadow: none;
}

body.adminimal-backend a.cke_button_on:hover, body.adminimal-backend a.cke_button_on:focus, body.adminimal-backend a.cke_button_on:active {
  box-shadow: none;
}

body.adminimal-backend a.cke_button_off:hover,
body.adminimal-backend a.cke_button_off:focus, a.cke_button_off:active,
body.adminimal-backend a.cke_button_disabled:hover,
body.adminimal-backend a.cke_button_disabled:focus,
body.adminimal-backend a.cke_button_disabled:active {
  background: #eee;
  box-shadow: none;
  border-color: #0074BD;
}

body.adminimal-backend .cke_reset_all label {
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 2px;
  position: relative;
}

body.adminimal-backend .cke_dialog_body label.cke_required {
  font-weight: normal;
}

body.adminimal-backend .cke_reset_all .cke_dialog_body {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  border: 1px solid #CCCCCC;
}

body.adminimal-backend .cke_reset_all fieldset {
  border: 1px solid #DDDDDD;
  border-top: 3px solid #0074BD;
  padding: 10px;
}

body.adminimal-backend .cke_reset_all legend {
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 0 0.5em;
}

body.adminimal-backend .cke_combopanel {
  height: 170px;
  width: 170px;
  border: 1px solid #DDDDDD;
  margin-top: 3px;
}

body.adminimal-backend .cke_dialog_footer {
  background: #eee;
}

body.adminimal-backend a.cke_dialog_tab:hover {
  text-decoration: none;
  background: #fff;
  color: #0074BD;
}

body.adminimal-backend select.cke_dialog_ui_input_select {
  box-shadow: none;
}

body.adminimal-backend input.cke_dialog_ui_input_text,
body.adminimal-backend input.cke_dialog_ui_input_password,
body.adminimal-backend textarea.cke_dialog_ui_input_textarea {
  box-shadow: none;
  border-color: #CCCCCC;
}

body.adminimal-backend .cke_dialog_title {
  background: #333333;
  border-bottom: none;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
  font-size: 18px;
  text-shadow: none;
}

body.adminimal-backend .cke_dialog_ui_vbox_child label {
  top: -2px;
}

body.adminimal-backend input.cke_dialog_ui_input_text:focus,
body.adminimal-backend input.cke_dialog_ui_input_password:focus,
body.adminimal-backend textarea.cke_dialog_ui_input_textarea:focus,
body.adminimal-backend select.cke_dialog_ui_input_select:focus {
  border-color: #0074BD;
}

body.adminimal-backend a.cke_dialog_ui_button:focus,
body.adminimal-backend a.cke_dialog_ui_button:hover,
body.adminimal-backend a.cke_dialog_ui_button:active {
  border-color: #0074BD;
  box-shadow: none;
  text-decoration: none;
  color: #fff;
  background: #0074BD;
}

body.adminimal-backend a.cke_dialog_ui_button {
  background: #eee;
  padding: 4px 0;
}

body.adminimal-backend a.cke_dialog_ui_button:focus span,
body.adminimal-backend a.cke_dialog_ui_button:hover span,
body.adminimal-backend a.cke_dialog_ui_button:active span {
  color: #fff;
}

body.adminimal-backend .cke_ltr .cke_dialog_close_button {
  background: image-url('x-white.png') scroll no-repeat 50% 2px #B73939;
  right: 10px;
  top: 1px;
  width: 45px;
}

body.adminimal-backend .cke_ltr .cke_dialog_close_button:hover {
  background-color: #e55454;
}

body.adminimal-backend a.cke_dialog_ui_button_ok {
  background: #4D8F46;
  border-color: #4D8F46;
  box-shadow: none;
}

body.adminimal-backend a.cke_dialog_ui_button_ok:hover {
  background: #0A6700;
  border-color: #0A6700;
}

.messages.theme-disabled {
  background: #eee;
  border: none;
  border-left: 5px solid #6B6B6B;
  padding: 10px 15px;
}
