{#
/**
 * @file
 * Adminx theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 *
 * @ingroup themeable
 */
#}
{% if primary %}
  <h2 id="primary-tabs-title" class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <nav role="navigation" class="tabs tabs--primary" aria-labelledby="primary-tabs-title" data-drupal-nav-tabs>
    <div class="tabs__tab-bar" data-drupal-nav-tabs-target>{{ primary }}</div>
  </nav>
{% endif %}
{% if secondary %}
  <h2 id="secondary-tabs-title" class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <nav role="navigation" class="tabs tabs--secondary" aria-labelledby="secondary-tabs-title" data-drupal-nav-tabs>
    <div class="tabs__tab-bar">{{ secondary }}</div>
  </nav>
{% endif %}
