@import '../config';

.admin-list {
  margin: 0;
  padding: 0;
  li {
    position: relative;
    border-bottom: 1px solid #bfbfbf;
    margin: 0;
    list-style: none none;
    padding: 0;

    a {
      text-decoration: none;
      background-position: 1px 17px;
      display: block;
      padding: 14px 15px 14px 25px; /* LTR */
      min-height: 0;
      text-transform: uppercase;
      &:before {
        content: '\25B8';
        font-weight: 900;
        position: absolute;
        top: 0.55em;
        font-size: 1.3em;
        line-height: 1em;
        margin-left: -0.9em; /* LTR */
      }
      > .label {
        text-transform: uppercase;
      }
      > .description {
        font-size: 12px;
        color: $form-description-color;
        text-transform: none;
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        > .label {
          text-decoration: underline;
        }
      }
    }
  }
  &.compact {
    li {
      border: none;
      a {
        background-image:  none;
        padding: 2px 0;
      }
    }
  }
}
.admin-list--add {
  li {
    a {
      &:before {
        content: '+';
      }
    }
  }
}
[dir="rtl"] .admin-list {
  li {

    a {
      padding-right: 25px;
      padding-left: 15px;
      &:before {
        margin-left: 0;
        margin-right: -0.9em;
      }
    }
  }
}
