@import '../config';

$base-body-color: #FFF !default;
$base-border-radius: 5px !default;

$breadcrumb-border-color: $base-border-color !default;
$breadcrumb-border: 1px solid $breadcrumb-border-color !default;
$breadcrumb-height: $base-line-height * 1.5 !default;
$breadcrumb-arrow-color: $breadcrumb-border-color !default;
$breadcrumb-background: $base-body-color !default;
$breadcrumb-inactive-hover-color: $breadcrumb-background !default;
$breadcrumb-color: $mediumgray !default;
$breadcrumb-color-hover: $base-accent-color !default;
$breadcrumb-color-active: $breadcrumb-color !default;

.breadcrumb {
  display: inline-block;
  text-align: left;
  margin-bottom: $base-line-height;

  a {
    display: inline-block;
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    color: $breadcrumb-color;
    line-height: $breadcrumb-height;
    font-size: .8em;
    padding: 0 $breadcrumb-height/4 0 $breadcrumb-height/2;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px;
    margin-left: -6px;
    border-left-color: transparent;

    &:first-of-type {
      padding-left: $breadcrumb-height/2;
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
      border-left-color: $breadcrumb-border-color;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      color: $breadcrumb-color-active;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      padding-right: $breadcrumb-height/2;
    }

    &:hover {
      color: $breadcrumb-color-hover;
      background-color: $breadcrumb-inactive-hover-color;
    }

    &:hover:after {
      border-left-color: $breadcrumb-inactive-hover-color;;
    }

    &:after,
    &:before {
      position: absolute;
      top: 0;
      left: 100%;
      border-bottom: $breadcrumb-height/2 solid transparent;
      border-left: $breadcrumb-height/4 solid transparent;
      border-top: $breadcrumb-height/2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
      border: none;
    }

    &:before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }
    &:after {
      border-left-color: $breadcrumb-background;
    }

    @media(min-width: $breakpoint-m) {
      font-size: 1em;
      padding: 0 $breadcrumb-height/2 0 $breadcrumb-height/1.5;
    }
  }
  .current {
    display: inline-block;
    color: $breadcrumb-color-hover;
    line-height: $breadcrumb-height;
    font-size: .8em;
    padding: 0 $breadcrumb-height/4 0 $breadcrumb-height/4;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px;
    @media(min-width: $breakpoint-m) {
      font-size: 1em;
      padding: 0 $breadcrumb-height/2 0 $breadcrumb-height/2;
    }
  }
}
