/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 * @see http://nicolasgallagher.com/css-background-image-hacks/
 */
@import '../config';

details {
  border: 1px solid $base-border-color;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #fcfcfa;

  box-shadow: $base-box-shadow;
}
details > .details-wrapper {
  padding: 0.5em 1.5em;
}
/* @todo Regression: The summary of uncollapsible details are no longer
     vertically aligned with the .details-wrapper in browsers without native
     details support. */
summary {
  cursor: pointer;
  padding: 0.2em 0.5em;
}
