@import '../config';

.field-multiple {
  .description {
    margin: 0 0 0 1em;
    display: inline;
    position: relative;
    top: -1em;
  }
}

.field-multiple-table.mdl-data-table {
  box-shadow: none;
  border: 0;
  background: transparent;
  th {
    &.field-label {
      padding-top: 0;
      padding-left: 2px;
      padding-bottom: 0.4em;
    }

  }
  tbody {
    background: $white;
    border: $data-table-dividers;
    border-collapse: collapse;
  }
}
