@import '../config';

.fieldgroup {
  padding-top: 30px;
}

form {
  &:not(.node-form) {
    .form__main-wrapper {
      border: 1px solid $base-border-color;
      padding: 2em;
      background: #FBFBFB;
    }
  }

  .layout-region-node-main {
    border: 1px solid $base-border-color;
    padding: 2em;
    background: #FBFBFB;

    > .field-group-details {
      padding: 0 !important;
    }
  }
  > .form-wrapper:not(.form-actions) {
    margin-bottom: 0.5em;
    fieldset:not(.fieldgroup) {
      > legend {
        top: 0;
      }
    }
    & + .field-group-tabs-wrapper {
      margin: 1.5em 0;
    }
  }

  .layout-region-node-secondary {
    .form-wrapper {
      margin-bottom: 0;
    }

    > .field-group-details {
      padding: 0 !important;
    }
  }
  .ief-cardinality-count,
  ul.tips,
  .description,
  .details-description {
    margin-top: 1em;
    margin-bottom: 1.5em;
    color: $form-description-color;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }
  ul.tips,
  .description {
    font-size: $base-font-size * 0.75;

    &:before {
      content: '\2139';
      font-size: 1em;
      font-weight: bold;
      display: inline-block;
      border: 1px solid $form-description-color;
      border-radius: 1em;
      padding: 0.1em .2em 0.2em 0.25em;
      line-height: 0.9;
      margin-right: 0.2em;
      margin-top: -0.25em;
    }
  }
  .ief-cardinality-count,
  .details-description {
    margin-top: 0;
    margin-bottom: 1.5em;
  }

}

/**
 * Form elements.
 */
form {
  margin: 0;
  padding: 0;
}

.form-item {
  margin: 0.75em 0;
  table & {
    margin: 0;
  }
}
.form-submit {
  margin-bottom: 1.5em;
  & + .button {
    margin-bottom: 1.5em;
  }
}
.form-actions {
  margin-top: 1em;
}

.form-type-checkbox {
  padding: 0;
}


.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-search,
.form-disabled input.form-number,
.form-disabled input.form-color,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  border-color: #d4d4d4;
  background-color: hsla(0, 0%, 0%, .08);
  box-shadow: none;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-width: 1px;
  border-color: #e62600;
  background-color: hsla(15, 75%, 97%, 1);
  box-shadow: inset 0 5px 5px -5px #b8b8b8;
  color: #a51b00;
}
.form-item textarea.error + .cke {
  border-width: 1px;
  border-color: #e62600;
}
.form-item input.error:focus,
.form-item textarea.error:focus,
.form-item select.error:focus {
  border-color: #e62600;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px 1px #e62600;
  background-color: #fcf4f2;
}

.form-item--error-message {
  margin-top: 0.15em;
  color: #e32700;
}
.fieldset-wrapper > .form-item--error-message {
  margin-top: 0;
}
.text-format-wrapper .form-item--error-message {
  border: solid #ccc;
  border-width: 0 1px;
  margin: 0;
  padding: 0.25em 0.666em 0;
}

/*
field tables
*/


/* Filter */

.form-item .description.error {
  margin-top: 0;
  color: #a51b00;
}

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
[dir="rtl"] ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}
/*.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.5em; /!* LTR *!/
}
[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-left: 0;
  margin-right: 1.5em;
}
.form-text,
.form-textarea {
  border-radius: 2px;
  font-size: 1em;
  line-height: normal;
}*/

/*input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  box-sizing: border-box;
  padding: .3em .4em .3em .5em; /!* LTR *!/
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  background: #fff;
  color: #333;
  border-radius: 2px;
  background: #fcfcfa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  font-size: 1em;
  color: #595959;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
[dir="rtl"] textarea.form-textarea {
  padding: .3em .5em .3em .4em;
}
.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: #40b6ff;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px #40b6ff;
  background-color: #fff;
}*/

.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto;
}

.form-item-pass .description {
  clear: both;
}


/**
 * Improve spacing of cancel link.
 */
#edit-cancel {
  margin-left: 10px; /* LTR */
}
[dir="rtl"] #edit-cancel {
  margin-left: 0;
  margin-right: 10px;
}

.form--inline .form-item {
  float: left;
  margin-right: 0.5em;
}

/**
 * Improve form element usability on narrow devices.
 */
@media screen and (max-width: 600px) {
/*  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
  }*/
  input.form-number {
    width: auto;
  }
  .form-actions input,
  .form-wrapper input[type="submit"] {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    width: 100%;
  }
  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-top: 0;
  }
  details summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .password-strength {
    width: 100%;
  }
  div.form-item div.password-suggestions {
    float: none;
  }
  #dblog-filter-form .form-actions {
    float: none;
    padding: 0;
  }
  #edit-cancel {
    display: block;
    margin: 10px 0 0 0;
  }
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}
