@import '../config';

fieldset.form-item,
fieldset {
  border: $data-table-dividers;
  border-radius: 0;
  margin: 2em 0 1em;
  padding: 1em;
  position: relative;
  min-width: 0;
  background: $white;
  > legend {
    font-weight: 400;
    font-size: 16px;
    padding: 0 1em;
    margin-left: -1em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $label-color;
  }

}

.fieldgroup {
  min-width: 0;
}
@-moz-document url-prefix() {
  .fieldgroup {
    display: table-cell;
  }
}

form {
  .layout-region-node-main {
    > fieldset.form-wrapper {
      padding-top: 50px;
      > legend {
        top: 20px;
      }
    }
  }
}
