@import '../config';

@import "material-design-lite/src/textfield/textfield";

.mdl-textfield {
  width: 500px;
  display: block;
  &.has-prefix,
  &.has-suffix {
    display: flex;
  }
  table & {
    width: auto;
    min-width: 100px
  }
  .field-multiple-table & {
    padding-top: 0;
    margin-bottom: -20px;
    width: 100%;
    .mdl-spinner {
      margin-top: -20px;
    }
  }
}
.mdl-textfield--floating-label + .description {
  margin-top: -0.5em;
  margin-bottom: 1.5em;
}
.mdl-textfield--floating-label {
  .mdl-textfield__label {
    color: $label-color;
  }

  &.is-invalid {
    .mdl-textfield__label {
      color: $label-color;
    }
    .mdl-textfield__input {
      border-color: $input-text-bottom-border-color;
    }
  }

  .mdl-textfield__input.error {
    border-color: $input-text-error-color;

    & + .mdl-textfield__label {
      color: $input-text-error-color;
      padding-left: .5em;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
