@import '../config';

.has-prefix {
  display: flex;
}
.has-suffix {
  display: flex;
}
.field__prefix,
.field__suffix {
  display: inline-block;
  margin-top: 0.3em;
}
.field__suffix {
  margin-left: 0.5em; /* LTR */
  [dir="rtl"] & {
    margin-right: 0.5em;
    margin-left: 0;
  }
}
.field__prefix {
  margin-right: 0.5em; /* LTR */
  [dir="rtl"] & {
    margin-left: 0.5em;
    margin-right: 0;
  }
}


