@import '../config';

.form-disabled select.form-select {
  border-color: #d4d4d4;
  background-color: hsla(0, 0%, 0%, .08);
  box-shadow: none;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  padding: 7px 1.571em 7px 0.5em; /* LTR */
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  background: url(../../images/icons/caret-down.svg) no-repeat 99% 63%, $button-primary-color; /* LTR */
  font-size: 0.875rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  max-width: 100%;

  &[multiple] {
    background: $white;
  }
  table & {
    width: auto;
    min-width: 100px;
  }
}
[dir="rtl"] select {
  padding: 1px 0.714em 1px 1.571em;
  background-position: 1% 63%, 0 0;
}
select:focus,
select:hover {
  background-image: url(../../images/icons/caret-down.svg), $button-primary-color;
  color: #1a1a1a;
}
select:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
}
/**
  * Select elements - Webkit only
  */
@media screen and (-webkit-min-device-pixel-ratio: 0) {

}
