@import '../config';

.horizontal-tabs {
  .vertical-tabs__pane & {
    margin-bottom: 0;
  }
}
.horizontal-tabs-pane {
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
}
.horizontal-tab-button {
  .form-required {
    &:after {
      content: '*';
      color: $input-text-error-color;
      display: inline-block;
      margin-left: 0.2em;
      font-size: 1.2em;
      line-height: .9;
    }
  }
  a {
    strong {
      font-weight: 400;
    }
  }
}

