@import '../config';

.ief-form {
  background: $white;
  padding: 1em !important;
  border-radius: 0;
  z-index: 10; /* keep on top of other elements on the page */
  outline: 9999px solid rgba(243, 243, 243, 0.85);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    border: 1px solid #CACACA;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
  }
  > legend {
    padding-top: 1.5em;
  }
  fieldset {
    background: transparent;

  }
}

.ief-entity-table {
  margin-bottom: 1em;
  box-shadow: none;

  .ief-entity-operations {
    .button {
      margin-bottom: 0.5em;
    }
  }
  .mdl-textfield {
    width: 100%;
  }
}
