@import '../config';

/**
 * Messages.
 */
.messages {
  margin: 9px 0 10px 8px; /* LTR */
}
[dir="rtl"] .messages {
  margin: 9px 8px 10px 0;
}
.messages pre {
  margin: 0;
}
.messages h1, .messages .heading-a,
.messages h2, .messages .heading-b,
.messages h3, .messages .heading-c,
.messages h4, .messages .heading-d,
.messages h5, .messages .heading-e,
.messages h6, .messages .heading-f {
  margin-top: 0;
}

