@import '../config';

/* Modules page */
.system-modules {
  fieldset {
    border: 0;
    border-top: 1px solid #ccc;
  }
  details {
    border: 0;
    margin: 0;
    padding: 0;
    white-space: normal;
  }
  summary {
    border-bottom: 1px solid #ccc;
  }
  [open] summary {
    border-bottom: none;
  }
  .details-wrapper {
    padding: 0 0 0.5em 0;
  }
  .fieldset-wrapper {
    padding: 0;
  }
  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
  td {
    &.description {
      &:before {
        display: none;
      }
    }
  }

}

.system-modules table,
.locale-translation-status-form table {
  border: 0;
}


.system-modules table th,
.locale-translation-status-form table th {
  border: 0;
  border-bottom: 10px solid #fff;
}
.system-modules .sticky-header th,
.locale-translation-status-form .sticky-header th {
  border: 0;
}

.system-modules td details {
  margin-bottom: 0.5em;
  background: transparent;
  box-shadow: none;
}

.system-modules-uninstall {
  .module-description {
    display: inline-block;
    margin-bottom: 0.5em;
  }
  .admin-requirements {
    color: $warning-color;
  }
}
