/**
 * @file
 * Override Quick Edit's entity toolbar style on the Drupal front-end.
 *
 * I.e. loaded by Quick Edit on the front-end, despite this being a back-end theme.
 */
@import '../config';

.quickedit-toolbar-container > .quickedit-toolbar-content,
.quickedit-toolbar-container > .quickedit-toolbar-lining {
  border-radius: 4px;
}
.quickedit-button {
  border-radius: 3px;
}

/**
 * @todo: Entity toolbar's "save" button must be styled like a primary button. Use mixin?!
 */
.quickedit-button.action-save,
.quickedit-button.action-saving {
  border-color: #1e5c90;
  background-image: -webkit-linear-gradient(top, #007bc6, #0071b8);
  background-image:   linear-gradient(to bottom, #007bc6, #0071b8);
  color: #fff;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  margin-top: 2px;
}
.quickedit-button.action-save:hover,
.quickedit-button.action-save:focus,
.quickedit-button.action-saving:hover,
.quickedit-button.action-saving:focus {
  background-color: #2369a6;
  background-image: -webkit-linear-gradient(top, #0c97ed, #1f86c7);
  background-image:   linear-gradient(to bottom, #0c97ed, #1f86c7);
  border-color: #1e5c90;
  color: #fff;
}
.quickedit-button.action-save:hover,
.quickedit-button.action-save:focus,
.quickedit-button.action-saving:hover,
.quickedit-button.action-saving:focus {
  box-shadow: 0 1px 2px hsla(203, 10%, 10%, 0.25);
}
.quickedit-button.action-save:active,
.quickedit-button.action-saving:active {
  background-image: -webkit-linear-gradient(top, #08639b, #0071b8);
  background-image:   linear-gradient(to bottom, #08639b, #0071b8);
  border-color: #144b78;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

/**
 * The entity toolbar's "save" button's top margin shifts both buttons 2px down,
 * so we must compensate for that to achieve vertically centered positioning.
 */
.quickedit .icon-close:before {
  top: 8px;
}
