/**
 * @file
 * Styles for administration pages.
 */
@import '../config';

/**
 * Add search page select/submit.
 */
.search-admin-settings .container-inline {
  margin-bottom: 1em;
}
.search-admin-settings label[for="edit-search-type"] {
  display: block;
}
