/**
 * @file
 * Tablesort indicator styles.
 */
@import '../config';

.tablesort {
  float: right; /* LTR */
  width: 24px;
  height: 24px;
}
[dir="rtl"] .tablesort {
  float: left;
}
.tablesort--asc {
  background-image: url(../../images/icons/ic_arrow_drop_down_18px.svg);
}
a:hover .tablesort--asc {
  background-image: url(../../images/icons/ic_arrow_drop_down_18px.svg);
}
.tablesort--desc {
  background-image: url(../../images/icons/ic_arrow_drop_up_18px.svg);
}
a:hover .tablesort--desc {
  background-image: url(../../images/icons/ic_arrow_drop_up_18px.svg);
}
