@import '../config';

@import "material-design-lite/src/data-table/data-table";

.mdl-data-table {
  white-space: normal !important;
  td,
  th {
    padding-bottom: 12px;
  }
}
.field-multiple-table {
  margin-bottom: 1em;
}
