@import '../config';

.views-query-info table {
   border-radius: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}
.view__header,
.view-filters {
  &.mdl-card {
    width: 100%;
    min-height: 0;
  }
}

form > .form-wrapper.view__header {
  margin-bottom: 0;
  z-index: 0;
  border-radius: $base-border-radius $base-border-radius 0 0;
}
.view-filters {
  margin-bottom: 2em;
  .mdl-textfield {
    width: auto;
  }
  select {
    min-width: 0;
  }
}
