//
// Simple-Flexible - A really basic flexible layout
// =============================================================================

%page-layout {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

.layout-container {
  @extend %page-layout;
}
