/**
 * @file
 * Override of misc/vertical-tabs.css.
 */
@import '../config';

.vertical-tabs {
  position: relative;
  //overflow: hidden;
  margin: 10px 0 2em;
  border: 1px solid #bdbdbd;
  background-color: #ececec;
  box-shadow: $base-box-shadow;
}
.vertical-tabs__menu {
  float: left; /* LTR */
  width: 200px;
  margin: 0 -100% -1px 0; /* LTR */
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-top: none;
  line-height: 1;

}
[dir="rtl"] .vertical-tabs__menu {
  float: right;
  margin: 0 0 -1px -100%;
}
.vertical-tabs__menu-item {
  position: relative;
  border: none;
  background: #F7F7F7;

  .form-required {
    &:after {
      content: '*';
      color: $input-text-error-color;
      display: inline-block;
      margin-left: 0.2em;
      font-size: 1.2em;
      line-height: .9;
    }
  }
}
.vertical-tabs__menu-item.is-selected {
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
  border-right: 1px solid #fcfcfa; /* LTR */
  box-shadow: 0 5px 5px -5px hsla(0, 0%, 0%, 0.3);
  border-bottom: 1px solid #b3b2ad;
}
.vertical-tabs__menu-item.last {
  border-bottom: none;
}
[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border-left: 1px solid #fcfcfa;
  border-right: none;
}
.vertical-tabs__menu-item:focus,
.vertical-tabs__menu-item:active {
  z-index: 2;
}
.vertical-tabs__menu-item.is-selected:focus {
  outline: none;
}
.vertical-tabs__menu-item a {
  display: block;
  padding: 0.9em 0.9em 0.5em;
  border-bottom: 1px solid #b3b2ad;
  background-color: #F7F7F7;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
}
.vertical-tabs__menu-item:last-child a {
  border-bottom: 0;
}
.vertical-tabs__menu-item.is-selected a,
.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus {
  background: #fcfcfa;
  text-shadow: none;
  text-decoration: none;
  .vertical-tabs__menu-item-title {
    text-decoration: none;
  }
}
.vertical-tabs__menu-item.is-selected a {
  color: #004f80;
  border-left: 4px solid #0074bd; /* LTR */
  padding-left: 11px; /* LTR */
  border-bottom: none;
  outline: none;
  text-decoration: none;
}
[dir=rtl] .vertical-tabs__menu-item.is-selected a {
  border-left: 0;
  border-right: 4px solid #0074bd;
  padding-left: 15px;
  padding-right: 11px;
}
.vertical-tabs__menu-item.is-selected a:hover,
.vertical-tabs__menu-item.is-selected a:focus {
  color: #007ecc;
}

.vertical-tabs__menu-item-title {
  font-weight: 300;
}
[data-vertical-tabs-panes] {
  background-color: #fcfcfa;
}
.vertical-tabs__panes {
  margin: 0 0 0 200px; /* LTR */
  padding: 10px 15px 10px 15px;
  border-left: 1px solid #a6a5a1; /* LTR */
}
[dir="rtl"] .vertical-tabs__panes {
  margin: 0 200px 0 0;
  border-left: none;
  border-right: 1px solid #a6a5a1;
}
.vertical-tabs__panes:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-tabs__pane {
  margin: 0;
  padding: 0;
  border: 0;
  color: #595959;
  box-shadow: none;
  > .details-wrapper {
    padding: 0;
  }
}
.vertical-tabs__menu-item-summary {
  display: block;
  padding-top: 0.4em;
  color: $label-color-muted;
  font-size: $base-font-size * 0.85;
}
.vertical-tabs__pane > summary {
  display: none;
}
