/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*------------------------------------*    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Typography
 * -----Colors
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 */
/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
/* ==========  COLORS  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  IMAGES  ========== */
/* ==========  Color & Themes  ========== */
/* ==========  Typography  ========== */
/* ==========  Components  ========== */
/* ==========  Standard Buttons  ========== */
/* ==========  Icon Toggles  ========== */
/* ==========  Radio Buttons  ========== */
/* ==========  Ripple effect  ========== */
/* ==========  Layout  ========== */
/* ==========  Content Tabs  ========== */
/* ==========  Checkboxes  ========== */
/* ==========  Switches  ========== */
/* ==========  Spinner  ========== */
/* ==========  Text fields  ========== */
/* ==========  Card  ========== */
/* ==========  Sliders ========== */
/* ========== Progress ========== */
/* ==========  List ========== */
/* ==========  Item ========== */
/* ==========  Dropdown menu ========== */
/* ==========  Tooltips  ========== */
/* ==========  Footer  ========== */
/* TEXTFIELD */
/* SWITCH */
/* SPINNER */
/* RADIO */
/* MENU */
/* LIST */
/* LAYOUT */
/* ICON TOGGLE */
/* FOOTER */
/*mega-footer*/
/*mini-footer*/
/* CHECKBOX */
/* CARD */
/* Card dimensions */
/* Cover image */
/* BUTTON */
/**
 *
 * Dimensions
 *
 */
/* ANIMATION */
/* PROGRESS */
/* BADGE */
/* SHADOWS */
/* GRID */
/* DATA TABLE */
/* TOOLTIP */
.fieldgroup {
  padding-top: 30px; }

form:not(.node-form) .form__main-wrapper {
  border: 1px solid #BEBEBE;
  padding: 2em;
  background: #FBFBFB; }

form .layout-region-node-main {
  border: 1px solid #BEBEBE;
  padding: 2em;
  background: #FBFBFB; }
  form .layout-region-node-main > .field-group-details {
    padding: 0 !important; }

form > .form-wrapper:not(.form-actions) {
  padding: 0;
  margin-bottom: 0.5em; }
  form > .form-wrapper:not(.form-actions):empty {
    box-shadow: none;
    padding: 0;
    border: none;
    margin: 0; }
  form > .form-wrapper:not(.form-actions) fieldset:not(.fieldgroup) {
    padding: 30px 0 0; }
    form > .form-wrapper:not(.form-actions) fieldset:not(.fieldgroup) > legend {
      top: 0; }
  form > .form-wrapper:not(.form-actions) + .field-group-tabs-wrapper {
    margin: 1.5em 0; }

form .layout-region-node-secondary .form-wrapper {
  margin-bottom: 0; }

form .layout-region-node-secondary > .field-group-details {
  padding: 0 !important; }

form .ief-cardinality-count,
form ul.tips,
form .description,
form .details-description {
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: rgba(97,97,97, 0.90);
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.05em; }

form ul.tips,
form .description {
  font-size: 12px; }
  form ul.tips:before,
  form .description:before {
    content: '\2139';
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    border: 1px solid rgba(97,97,97, 0.90);
    border-radius: 1em;
    padding: 0.1em .2em 0.2em 0.25em;
    line-height: 0.9;
    margin-right: 0.2em;
    margin-top: -0.25em; }

form .ief-cardinality-count,
form .details-description {
  margin-top: 0;
  margin-bottom: 1.5em; }

/**
 * Form elements.
 */
form {
  margin: 0;
  padding: 0; }

.form-item {
  margin: 0.75em 0; }
  table .form-item {
    margin: 0; }

.form-submit {
  margin-bottom: 1.5em; }
  .form-submit + .button {
    margin-bottom: 1.5em; }

.form-actions {
  margin-top: 1em; }

.form-type-checkbox {
  padding: 0; }

.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-search,
.form-disabled input.form-number,
.form-disabled input.form-color,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  border-color: #d4d4d4;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: none; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-width: 1px;
  border-color: #e62600;
  background-color: #fdf4f2;
  box-shadow: inset 0 5px 5px -5px #b8b8b8;
  color: #a51b00; }

.form-item textarea.error + .cke {
  border-width: 1px;
  border-color: #e62600; }

.form-item input.error:focus,
.form-item textarea.error:focus,
.form-item select.error:focus {
  border-color: #e62600;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px 1px #e62600;
  background-color: #fcf4f2; }

.form-item--error-message {
  margin-top: 0.15em;
  color: #e32700; }

.fieldset-wrapper > .form-item--error-message {
  margin-top: 0; }

.text-format-wrapper .form-item--error-message {
  border: solid #ccc;
  border-width: 0 1px;
  margin: 0;
  padding: 0.25em 0.666em 0; }

/*
field tables
*/
/* Filter */
.form-item .description.error {
  margin-top: 0;
  color: #a51b00; }

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */ }

[dir="rtl"] ul.tips li {
  margin: 0.25em 1.5em 0.25em 0; }

/*.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.5em; /!* LTR *!/
}
[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-left: 0;
  margin-right: 1.5em;
}
.form-text,
.form-textarea {
  border-radius: 2px;
  font-size: 1em;
  line-height: normal;
}*/
/*input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  box-sizing: border-box;
  padding: .3em .4em .3em .5em; /!* LTR *!/
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  background: #fff;
  color: #333;
  border-radius: 2px;
  background: #fcfcfa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  font-size: 1em;
  color: #595959;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
[dir="rtl"] textarea.form-textarea {
  padding: .3em .5em .3em .4em;
}
.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: #40b6ff;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px #40b6ff;
  background-color: #fff;
}*/
.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto; }

.form-item-pass .description {
  clear: both; }

/**
 * Improve spacing of cancel link.
 */
#edit-cancel {
  margin-left: 10px;
  /* LTR */ }

[dir="rtl"] #edit-cancel {
  margin-left: 0;
  margin-right: 10px; }

.form--inline .form-item {
  float: left;
  margin-right: 0.5em; }

/**
 * Improve form element usability on narrow devices.
 */
@media screen and (max-width: 600px) {
  /*  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
  }*/
  input.form-number {
    width: auto; }
  .form-actions input,
  .form-wrapper input[type="submit"] {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    width: 100%; }
  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-top: 0; }
  details summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box; }
  .password-strength {
    width: 100%; }
  div.form-item div.password-suggestions {
    float: none; }
  #dblog-filter-form .form-actions {
    float: none;
    padding: 0; }
  #edit-cancel {
    display: block;
    margin: 10px 0 0 0; } }

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0; }
